*.idea
*~
*__pycache__*
*.pyc
*.pytest_cache
*.csv
local.py
/data*
/paper

/depthtrack_workspace
/ViPT

build/
MultiScaleDeformableAttention.egg-info/
dist/

/test*
/*.mp4
/.vscode
/*.log
/*.txt
/results_train
/tensorboard
/test
/visualization
/models
/无监督相关
/UAV_demo_video

/cut_speed.py
/get_list_txt.py
